.dropdown {
    position: absolute;
    top: 37px;
    list-style: none;
    padding: 0 10px;
    padding-left: 20px;
    display: none;
    color: rgba(0,0,0,0.6);
    font-weight: 300;
    width: 200px;
    background-color: white;
}

.dropdown > li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown > button {
    font-size: 10px;
    color: white;
    background-color: #1373E6;
    margin-bottom: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
}


.fa-chevron-down {
    padding-left: 5px;
}

.dropdown-2 {
    position: absolute;
    top: 37px;
    list-style: none;
    padding: 0 20px;
    display: none;
    color: rgba(0,0,0,0.6);
    font-weight: 300;
    width: 200px;
    background-color: white;
}

.dropdown-2 > li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-2 > button {
    font-size: 10px;
    color: white;
    background-color: #1373E6;
    margin-bottom: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
}

.dropdown-3 {
    position: absolute;
    top: 37px;
    list-style: none;
    padding: 0 20px;
    display: none;
    color: rgba(0,0,0,0.6);
    font-weight: 300;
    width: 200px;
    background-color: white;
}

.dropdown-3 > li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-3 > button {
    font-size: 10px;
    color: white;
    background-color: #1373E6;
    margin-bottom: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
}


.dropdown-4 {
    position: absolute;
    top: 37px;
    list-style: none;
    padding: 0 20px;
    display: none;
    color: rgba(0,0,0,0.6);
    font-weight: 300;
    width: 200px;
    background-color: white;
}

.dropdown-4 > li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-4 > button {
    font-size: 10px;
    color: white;
    background-color: #1373E6;
    margin-bottom: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
}

.dropdown-5 {
    position: absolute;
    top: 37px;
    list-style: none;
    padding: 0 20px;
    display: none;
    color: rgba(0,0,0,0.6);
    font-weight: 300;
    width: 200px;
    background-color: white;
}

.dropdown-5 > li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown-5 > button {
    font-size: 10px;
    color: white;
    background-color: #1373E6;
    margin-bottom: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
}





.inactive {
    display: none !important;
}



.active {
    display: block;
}

.fa-chevron-down-active {
    transform: rotateX(180deg);
}
